@charset "UTF- 8";
@import url('https://fonts.googleapis.com/css2? family= Slabo+27px & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header { 
    background-color: #5b9cca;
    height: 100px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.445);
    padding-bottom: 15px;
    text-align: center;
    box-shadow:  10px 3px 4px 0px rgba(0, 0, 0, 0.404);
}
header h1 {
    padding-top: 30px;
    color: #07D985;
}
body{
    background-image: linear-gradient(-90deg, #14F0D6,#07D985 );
    height: 100%;
}
main {
    max-width: 700px;
    background-color: rgb(252, 246, 237);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 20px 0px #05e60d6c;
}
h2 { 
    padding: 15px;
    font-family: 'Slabo 27px', serifa;
}
p {
    padding: 5px 10px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ul{
    padding-left: 30px;
}
footer {
    background-color: #07F854;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}