@charset "UTF- 8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header { 
    background-color: #5b9cca;
    height: 100px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.445);
}
header h1 {
    padding-top: 30px;
    padding-left: 40px;
    color: #07D985;
}
body{
    background-image: linear-gradient(-90deg, #14F0D6,#07D985 );
    height: 100%;
}
main {
    max-width: 700px;
    background-color: rgb(252, 246, 237);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: 15px;
}
h2 { 
    padding: 15px;
}
p {
    padding: 5px 10px;
}
ul{
    padding-left: 30px;
}
footer {
    background-color: #07F854;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}